{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/board_test.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/test.css') }}">
{% endblock %}

{% block content %}
    <h1>Chess Game!</h1>
    <div>
        <h3>Create new game</h3>
        <form action="{{ url_for('new_game_test') }}" method="post" class="new-game">
            {{ removegame_form.csrf_token }}
            <label>{{ creategame_form.fen.label }}</label>
            {{ creategame_form.fen(size=100) }}
            {{ creategame_form.submit() }}
        </form>

        <!-- Remove a game -->
        <h3>Remove a game</h3>
        <form action="{{ url_for('remove_game_test') }}" method="post" class="remove-game">
            {{ removegame_form.csrf_token }}
            <label>{{ removegame_form.remove_game_id.label }}: </label>
            {{ removegame_form.remove_game_id(size=3) }}
            {{ removegame_form.submit() }}
        </form>

        <!-- Join a game -->
        <h3>Join a game</h3>
        <div class="join-game">
            {{ joingame_form.csrf_token }}
            <label>{{ joingame_form.join_game_id.label }}: </label>
            {{ joingame_form.join_game_id(size=3) }}

            <label>{{ joingame_form.user_id.label }}: </label>
            {{ joingame_form.user_id(size=3) }}

            <label>{{ joingame_form.color.label }}: </label>
            {{ joingame_form.color() }}
            <button class="submit">join</button>
        </div>

        <!-- Move a piece -->
        <h3>Move a piece</h3>
        <div class="move-piece">
            <label>{{ movepiece_form.start_position.label }}</label>
            {{ movepiece_form.start_position(size=2) }}
            <label>{{ movepiece_form.end_position.label }}</label>
            {{ movepiece_form.end_position(size=2) }}
            <button class="submit">move</button>
        </div>

        <!-- Display current game info -->
        <h3>Current game</h3>
        <form action="">
            <div>
                <label>{{ currentgame_form.game_id.label }}: </label>
                {{ currentgame_form.game_id(size=3, disabled=True) }}
            </div>
            <div>
                <label>{{ currentgame_form.current_player.label }}: </label>
                {{ currentgame_form.current_player(size=30, disabled=True) }}
            </div>
            <div>
                <label>{{ currentgame_form.white_player_id.label }}: </label>
                {{ currentgame_form.white_player_id(size=3, disabled=True) }}
                <label>{{ currentgame_form.white_player_name.label }}: </label>
                {{ currentgame_form.white_player_name(size=30, disabled=True) }}
            </div>
            <div>
                <label>{{ currentgame_form.black_player_id.label }}: </label>
                {{ currentgame_form.black_player_id(size=3, disabled=True) }}
                <label>{{ currentgame_form.black_player_name.label }}: </label>
                {{ currentgame_form.black_player_name(size=30, disabled=True) }}
            </div>
            <div>
                <label>{{ currentgame_form.game_over.label }}: </label>
                {{ currentgame_form.game_over(size=10, disabled=True) }}
            </div>
            <div>
                <label>{{ currentgame_form.game_board.label }}: </label>
                {{ currentgame_form.game_board(rows='10', cols='16', disabled=True) }}
            </div>
        </form>

        <h3>Games in database</h3>
        <table id="games">
            <tr>
                <th>Game id</th>
                <th>White Player</th>
                <th>Black Player</th>
            </tr>
            {% if games %}
                {% for game in games %}
                    <tr id="game-{{ game.id }}">
                        <td>{{ game.id }}</td>
                        <td>{{ game.white_player.username }}</td>
                        <td>{{ game.black_player.username }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <h3>Players in database</h3>
        <table>
            <tr>
                <th>User id</th>
                <th>Username</th>

            </tr>
            {% if players %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.id }}</td>
                        <td>{{ player.username }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <button id="test">Click me</button>

    </div>
{% endblock %}