{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
{% endblock %}

{% block content %}
    <h1>Chess game!</h1>
    <object class="board_image" type="image/svg+xml" data="{{ url_for('static', filename='images/Tan_Chess_Board.svg') }}">
    </object>
    <div class="board_overlay">
        {% for column in [8,7,6,5,4,3,2,1] %}
            <div class="row {{ column }}">
                {% for row in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
                    <div class="{{ row ~ column }} board_position" data-position="{{ row ~ column }}">{{ row ~ column }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}