.board_image {
    width: 828px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.board_overlay {
    width: 736px;
    height: 736px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.board_position {
    height: 92px;
    width: 92px;
    float: left;
}

.board_position:hover {
    background: red;
    opacity: .5;
}

.row {
    clear: both;;
}

#piece_sprite {
    display: none;
}

.piece {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto;
    padding-top: 20px;
}
